* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: ;
}

.grid-cell {
    border: 1px solid red;
    height: 31.25px;
    width: 31.25px;
}



.permahover {
    background-color: #333;
}