* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px #333;   
}

.grid-cell {
    background-color: white;
    height: 31.25px;
    width: 31.25px;
} 



.permahover {
    background-color: #333;
    height: 31.25px;
    width: 31.25px;
}